<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>CLass</title>
    <head>
    <body>
    <tr>
        <th>Schedule</th>
        <th>time</th>
    </tr>
    <tr>
        <td>Python </td>
        <td>Mon Wed 5:40pm </td>
    </tr>
    <tr>
        <td>Chem  </td>
        <td>Mon Wed 6:55pm </td>
    </tr>
    <tr>
        <td>French </td>
        <td>TU THU 8:40 AM</td>
    </tr>
    <tr>
        <td>Physics </td>
        <td>TU THU 10:00AM </td>
    </tr>
    <tr>
        <td>AOE </td>
        <td>FRI 11AM</td>
    </tr>
    
    <p> Favorite class this year has been French cuz i like French </p> 

    </body>
</html>

